.git
.gitignore
.github
.vscode
.idea
.claude
.gemini
.agent
.taskmaster
node_modules
vendor
tests
storage/logs/*
storage/framework/sessions/*
storage/framework/cache/*
storage/framework/views/*
storage/debugbar
nvm-setup.exe
*.md
!README.md
projects-example
devtools
.env
.env.backup
.env.testing
